.main_head{
    width: 99%;
    text-align: center;
}
.main_page{
    text-align: center;
    height: 71.5%;
    padding: 10px;
    display: block;
    overflow: auto;
}
.footer{
    text-align: center;
    width: 99%;
}
.main_page .part{
    width: 99%;
    overflow: auto;
    text-align: center;
}