
.fejlec {
    overflow: hidden;
    background-color: rgb(160, 160, 160);
    text-align:center;
    width: 99%;
}
  
.fejlec a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display:inline-block;
    border-right:2px solid black;
}
  
.felec a:hover {
    background-color: #ddd;
    color: black;
}
